<div class="maincontent">
  <article class="article">
    <h1 class="article-title"><%=translation.MAIN_PAGE_TEXT.PART1.title%></h1>
     <%-translation.MAIN_PAGE_TEXT.PART1.text%>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title"><%=translation.MAIN_PAGE_TEXT.PART2.title%></h1>
    <%-translation.MAIN_PAGE_TEXT.PART2.text%>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title"><%=translation.MAIN_PAGE_TEXT.PART3.title%></h1>
    <%-translation.MAIN_PAGE_TEXT.PART3.text%>
  </article><!-- article -->
</div>
