
<article class="sidebar">
  <h1 class="sidebar-title"> <%= translation.SCHOOL_LIST_TEXT.header %> </h1>
  <p class="sidebar-body">
  <%=translation.SCHOOL_LIST_TEXT.text%>
  </p>

  <div class="pixgrid clearfix">
    <% if (image.length > 0) { %>
    <% for (i=0; i< image.length; i++) { %>
        
        <img id="<%= i %>" src="/images/schools/<%= image[i] %>" alt=<%=image[i]%> >
        <div id="Modal<%= i %>" class="modal">
          <span class="close">&times;</span>
          <img class="modal-content" id="img<%= i %>">
          <div class="modal-caption" id="caption<%= i %>"></div>
        </div>
        
    <% } %>
    <% } %>
  </div>

 
</article>


